
/************************************************************************
 * 파일명	:common.css
 * 설명	:공통 CSS
 * 작성일	:2018.01.11
************************************************************************/

@font-face {font-family:"HN_Th"; src:url('/font/HelveticaNeueLTStd-Th.eot'); src:local('☺'), url('/font/HelveticaNeueLTStd-Th.eot?#iefix') format("embedded-opentype"), url('/font/HelveticaNeueLTStd-Th.woff') format("woff"), url('/font/HelveticaNeueLTStd-Th.ttf') format("truetype"); }
@font-face {font-family:"HN_Bd"; src:url('/font/HelveticaNeueLTStd-Bd.eot'); src:local('☺'), url('/font/HelveticaNeueLTStd-Bd.eot?#iefix') format("embedded-opentype"), url('/font/HelveticaNeueLTStd-Bd.woff') format("woff"), url('/font/HelveticaNeueLTStd-Bd.ttf') format("truetype"); }
@font-face {font-family:"HN_hvc"; src:url('/font/HelveticaNeue-HeavyCond.eot'); src:local('☺'), url('/font/HelveticaNeue-HeavyCond.eot?#iefix') format("embedded-opentype"), url('/font/HelveticaNeue-HeavyCond.woff') format("woff"), url('/font/HelveticaNeue-HeavyCond.ttf') format("truetype"); }

@font-face {font-family:"NanumBarunGothicL"; src:url('/font/NanumBarunGothicWebLight.eot'); src:local('☺'), url('/font/NanumBarunGothicWebLight.eot?#iefix') format("embedded-opentype"), url('/font/NanumBarunGothicWebLight.woff') format("woff"), url('/font/NanumBarunGothicWebLight.ttf') format("truetype"); }
@font-face {font-family:"NanumBarunGothic"; src:url('/font/NanumBarunGothicWeb.eot'); src:local('☺'), url('/font/NanumBarunGothicWeb.eot?#iefix') format("embedded-opentype"), url('/font/NanumBarunGothicWeb.woff') format("woff"), url('/font/NanumBarunGothicWeb.ttf') format("truetype"); }
@font-face {font-family:"NanumBarunGothicB"; src:url('/font/NanumBarunGothicWebBold.eot'); src:local('☺'), url('/font/NanumBarunGothicWebBold.eot?#iefix') format("embedded-opentype"), url('/font/NanumBarunGothicWebBold.woff') format("woff"), url('/font/NanumBarunGothicWebBold.ttf') format("truetype"); }


/* common */
*	{margin:0; padding:0;}
html,body	{min-height:100%; height:100%}
html	{min-height:100%}
body	{*overflow-y:; min-width:320px; color:#403d3f; font-size:18px; font-family:'Nanum Gothic','NanumBarunGothic','AppleGothic','Dotum', sans-serif; font-weight:normal; line-height:26px; -webkit-text-size-adjust:none; word-spacing:0; letter-spacing:-0.3px}
body.hidden	{overflow:hidden; padding-right:17px}

a			{color:#000; text-decoration:none}
a:visited	{text-decoration:none}
a:hover	{text-decoration:none}
a:active	{text-decoration:none}

img	{border:0 none;}
ol,	ul/*,	li*/	{list-style-type:none}
h1,	h2,	h3,	h4,	h5,	h6	{font-weight:normal}
hr	{border:0; clear:both}
table th	{font-weight:normal}

.pblock	{display:block}
.mblock	{display:none !important}


/* 정렬 */
.fl_left	{float:left}
.fl_right	{float:right}
.fl_clear	{clear:both; height:0; font-size:0; line-height:0}
.fl_wrap:after	{content:""; display:block; clear:both}

.al_left	{text-align:left !important}
.al_center	{text-align:center}
.al_right	{text-align:right !important}
.al_justify  {text-align:justify}

.hand	{cursor:pointer}
.overflow	{overflow:auto; overflow:hidden}
.none	{display:none !important}
.hide	{display:block; overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; text-indent:-9999px;}
.pos_rel	{position:relative}

.clfix:after	{content:"."; display:block; height:0px; clear:both; visibility:hidden}
.clfix	{display:inline-block}
.clfix	{display:block}
* html	.clfix	{height:1%} /* Hides from IE-mac */
.clfix	{zoom:1} /*for IE 5.5-7*/

/* form */
fieldset	{border:0 none}
label	{}
input	{box-sizing:border-box; -moz-box-sizing:border-box;}

input[type='text']:disabled	{background:#f8f8f8}
input[type='text']:focus,	input[type='password']:focus	{border:1px solid #bbb}
input[type=submit], input[type=button]	{cursor:pointer}
::-webkit-input-placeholder	{padding:2px 0 0 0; color:#bebebe; box-sizing:border-box; -moz-box-sizing:border-box;}
:-ms-input-placeholder {color:#bebebe;}
input[placeholder]	{line-height:1em !important}


.chk {display:inline-block; margin-right:17px; font-size:16px; font-weight:400; line-height:27px;}
.chk label	{display:block; padding-left:42px; background:url('/images/common/bg_chk.png') no-repeat 0 center; color:#383838}
.chk label:hover	{color:white}
.chk input[type=checkbox]	{position:absolute; left:-9999px; visibility:hidden;}
.chk input[type=checkbox]:checked + label	{background:url('/images/common/bg_chk_on.png') no-repeat 0 center; color:#383838}

.chk.bg label	{background:url('/images/common/bg_chk_th.png') no-repeat 4px center;}
.chk.bg input[type=checkbox]:checked + label	{background:url('/images/common/bg_chk_th_on.png') no-repeat 4px center;}

.chk_typeb {display:inline-block; margin-left:8px;}
.chk_typeb label	{display:block; padding:0 11px; color:#414141; color:#666; font-size:13px; line-height:30px; border:1px solid #d1d9dc; background:#fff; border-radius:20px; cursor:pointer}
.chk_typeb label:hover	{color:#414141}
.chk_typeb input[type=checkbox]	{position:absolute; left:-9999px; visibility:hidden;}
.chk_typeb input[type=checkbox]:checked + label	{border:1px solid #1b64bc; background:#1b64bc; color:#fff}

.rdo	{display:inline-block; margin-right:10px; width:auto; color:#414141; line-height:24px; font-size:14px;}
.rdo label	{display:block; padding-left:25px; background:url('/images/common/bg_rdo.png') no-repeat 4px center; color:#414141}
.rdo label:hover	{color:#888}
.rdo input[type=radio]	{position:absolute; left:-9999px; visibility:hidden;}
.rdo input[type=radio]:checked + label	{background:url('/images/common/bg_rdo_on.png') no-repeat 4px center; color:#414141}

input.txt	{height:24px; margin:0; padding:7px 9px 7px 9px; border:1px solid #999; background:#fff; color:#4c4c4c; font-size:13px; line-height:24px; vertical-align:middle}
input.txt:focus	{border-color:#000}
select	{margin:0; border:1px solid #999; line-height:22px; height:22px; color:#a6a6a6; font-weight:bold;}

.select {display:inline-block; position:relative; padding:0; height:40px; border:1px solid #e0e0e0; background:#fff; box-sizing:border-box; -moz-box-sizing:border-box}
.select:after	{content:""; display:block; position:absolute; right:12px; top:50%; margin-top:-4px; width:13px; height:8px; background:url('/images/common/select_arrow.png') no-repeat center center; background-size:11px auto;}
.select label {position:absolute; top:0px; right:20px; bottom:0; left:10px; color:#404040; font-size:16px; line-height:38px; text-align:left;}
.select select {position:relative; z-index:1; padding:0 4px; width:100%; height:38px; line-height:38px; vertical-align:top; opacity:0; filter:alpha(opacity=0);}

.select.type2	{background-color:#fff}
.select.type2	select	{background-color:#fff}

input.chk {border:0 none; margin-right:2px; vertical-align:middle;}
input.chk.mlr	{margin:0 5px 0 16px}
.textarea	{display:block; font-size:0; line-height:0}
textarea	{padding:9px; border:1px solid #ddd; background:#fff; color:#383838; font-size:16px; font-family:'Nanum Gothic','맑은 고딕','AppleGothic','돋움','Dotum', sans-serif; overflow-y:auto; resize:none; -webkit-appearance:none; outline:none; box-sizing:border-box; -moz-box-sizing:border-box;}
textarea:focus	{border-color:#bbb}


/* font */
.f_0	{font-size:0}

.f_normal	{font-weight:normal}
.f_strong	{font-weight:700}
.f_italic		{font-style:italic}

.fc_blue	{color:#3158bc}
.fc_gray	{color:#a8a8a8 !important}
.fc_org	{color:#ff3c00}


/* space */
.mt0	{margin-top:0 !important}
.mt5	{margin-top:5px !important}
.mt10	{margin-top:10px !important}
.mt25	{margin-top:25px !important}
.mt35	{margin-top:35px !important}
.mt50	{margin-top:50px !important}
.mt70	{margin-top:70px !important}

.ml0	{margin-left:0 !important}
.ml5	{margin-left:5px !important}
.ml10	{margin-left:10px !important}
.ml25	{margin-left:25px !important}
.ml35	{margin-left:35px !important}


/* rollover */
a.rollover img		{display:inline;}
a.rollover img.over	{display:none;}
a.rollover img.on	{display:none;}
a.rollover:hover		{border:0; cursor:pointer}
a.rollover:hover img			{display:none;}
a.rollover:hover img.over	{display:inline;}
a.rollover:hover img.on		{display:none;}


/* layout */
.skip_nav a			{display:block; position:absolute; z-index:100; top:-1000em; left:0; padding:10px; background-color:#000; color:#fff; text-align:center}
.skip_nav a:focus	{position:relative; top:0; width:100%; height:auto; margin:0; padding:10px;}

#wrapper	{overflow:hidden; position:relative; min-width:320px; width:100%; margin:0; padding:0; background:#fff}
#wrapper #container	{position:relative; margin:0 auto; padding:0; background:#fff}
#wrapper #container .content	{position:relative; margin:0 auto; padding:0; min-height:500px}
#wrapper #container .content:after	{content:""; display:block; clear:both}
#wrapper #container .content > div	{margin:0 auto; max-width:1200px}


/* GNB */
#wrapper #header	{position:fixed; z-index:90; top:0; right:0; left:0;}
#wrapper #header .header	{position:relative; margin:0 auto;}
#wrapper #header .header h1	{display:block; position:absolute; z-index:10; top:0; left:0; top:0; left:50%; margin-left:-896px; width:185px; height:184px; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
#wrapper #header .header h1 a	{display:block; width:185px; height:184px; background:url('/images/common/logo.jpg') no-repeat 0 0; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
#wrapper #header .header .btn_nav	{display:none}

#wrapper #header nav	{position:absolute; top:65px; right:0; left:0; height:85px; background:rgba(0, 0, 0, 0.46); -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
#wrapper #header nav .nav_wrap	{position:absolute; left:50%; margin-left:-653px; width:1240px; font-size:0; line-height:0; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
#wrapper #header nav .nav_wrap ul	{position:relative; text-align:left}
#wrapper #header nav .nav_wrap ul:after	{content:""; display:block; clear:both}

/*hcup적용*/
/*#wrapper #header nav .nav_wrap ul li	{display:inline-block; position:relative; padding:0 38px; vertical-align:top; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}*/
/*CHAMPIONSHIP 적용시*/
#wrapper #header nav .nav_wrap ul li	{display:inline-block; position:relative; padding:0 30px; vertical-align:top; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
#wrapper #header nav .nav_wrap ul li:first-child	{padding-left:0;}
#wrapper #header nav .nav_wrap ul li:first-child a	{width:146px; background:url('/images/common/nav_aia.png') no-repeat center center; background-size:100% auto}
#wrapper #header nav .nav_wrap ul li:first-child a:after	{display:none}
#wrapper #header nav .nav_wrap ul li a.face	{display:none}
#wrapper #header nav .nav_wrap ul li a.insta	{display:none}
#wrapper #header nav .nav_wrap ul li a	{display:block; height:85px; color:#fff; font-size:20px; font-weight:700; line-height:85px; text-decoration:none; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
#wrapper #header nav .nav_wrap ul li a.f_hvn	{font-size:24px; font-family:'HN_hvc';}
#wrapper #header nav .nav_wrap ul li a:after	{display:block; content:""; position:absolute; bottom:0; left:50%; width:0%; height:6px; background:#4c89cd; -webkit-transform:translate3d(-50%, 0, 0); -moz-transform:translate3d(-50%, 0, 0); -o-transform:translate3d(-50%, 0, 0); -ms-transform:translate3d(-50%, 0, 0); transform:translate3d(-50%, 0, 0); -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.15s ease-out;}
#wrapper #header nav .nav_wrap ul li a:hover:after	{width:80%}

#wrapper #header nav .util	{position:absolute; top:20px; right:50%; margin-right:-916px; width:345px; font-size:0; line-height:0; text-align:right}
#wrapper #header nav .util li	{display:inline-block; margin-left:19px; height:44px; vertical-align:top}
#wrapper #header nav .util li:first-child	{margin-left:0}
#wrapper #header nav .util li a	{display:block; width:44px; height:44px; line-height:44px}
#wrapper #header nav .util li.face a	{background:url('/images/common/icon_facebook.png') no-repeat center center; background-size:27px 27px}
#wrapper #header nav .util li.insta a	{background:url('/images/common/icon_instagram.png') no-repeat center center; background-size:27px 27px}
#wrapper #header nav .util li.login	{margin-left:24px; padding-left:24px; border-left:2px solid #b1b1b1}
#wrapper #header nav .util li.login a	{padding-right:32px; width:auto; background:url('/images/common/icon_login.png') no-repeat right center; color:#fff; font-size:12px;}
#wrapper #header nav .util li.logout	{margin-left:24px; padding-left:24px; border-left:2px solid #dcdcdc}
#wrapper #header nav .util li.logout a	{display:inline-block; width:auto; color:#fff; font-size:12px;}
#wrapper #header nav .util li.logout a.mypage	{padding-right:27px; background:url('/images/common/icon_mypage.png') no-repeat right center; background-size:auto 18px;}
#wrapper #header nav .util li.logout a.logout	{padding-right:32px; margin-left:20px; background:url('/images/common/icon_logout.png') no-repeat right center; background-size:auto 18px;}

#wrapper #header.fixed .header h1	{top:0; width:85px; height:85px}
#wrapper #header.fixed .header h1 a	{width:85px; height:85px; background:url('/images/common/logo_t.png') no-repeat 0 0;}
#wrapper #header.fixed nav	{top:0}
#wrapper #header.fixed nav .nav_wrap	{margin-left:-770px}


/* Footer */
#wrapper #footer	{position:relative; margin-top:110px; padding:63px 0 85px 0; background:#414141;}
#wrapper #footer .footer_wrap	{position:relative; margin:0 auto; width:1200px}
#wrapper #footer .footer_wrap .logo	{position:absolute; top:17px; left:0; width:268px; height:50px; background:url('/images/common/logo_footer.png') no-repeat 0 0;}
#wrapper #footer .footer_wrap .foot_util	{padding-left:365px}
#wrapper #footer .footer_wrap .foot_util ul	{margin:0 auto; max-width:1100px;}
#wrapper #footer .footer_wrap .foot_util ul:after	{content:""; display:block; clear:both}
#wrapper #footer .footer_wrap .foot_util ul li	{position:relative; float:left; padding:0 25px}
#wrapper #footer .footer_wrap .foot_util ul li:after	{content:""; display:block; position:absolute; top:50%; left:0; margin-top:-6px; width:1px; height:12px; background:#6c6c6c}
#wrapper #footer .footer_wrap .foot_util ul li:first-child	{padding-left:0}
#wrapper #footer .footer_wrap .foot_util ul li:first-child:after	{display:none}
#wrapper #footer .footer_wrap .foot_util ul li a	{display:block; color:#fff; font-size:14px; line-height:26px}

#wrapper #footer .footer_wrap .info	{margin-top:10px; padding-left:365px; color:#959595; font-size:14px; line-height:26px;}
#wrapper #footer .footer_wrap .info span	{display:inline-block; margin-left:18px;}
#wrapper #footer .footer_wrap .copy	{padding-left:365px; color:#959595; font-size:10px; font-family:'Arial'; font-weight:bold; line-height:20px;}


/* Sub 공통 */
.snav_wrap	{display:none}
.snav_dim	{display:none}

.content .sub_top	{position:relative; margin-bottom:60px !important; padding:0; max-width:100% !important; height:460px; background:#000;}
.content .sub_top h2	{position:absolute; z-index:5; left:50%; bottom:22px; margin-left:-600px; color:#fff; font-size:80px; font-family:'HN_hvc','NanumBarunGothic','AppleGothic','Dotum', sans-serif; font-weight:400; line-height:90px}
.content .sub_top video	{position:absolute; top:0; left:50%; width:1920px; height:460px; -webkit-transform:translate3d(-50%, 0, 0); -moz-transform:translate3d(-50%, 0, 0); -o-transform:translate3d(-50%, 0, 0); -ms-transform:translate3d(-50%, 0, 0); transform:translate3d(-50%, 0, 0);}

.location	{margin-top:54px !important; height:40px;}
.location ul	{margin:0 auto; max-width:1100px; font-size:0;  text-align:center}
.location ul:after	{content:""; display:block; clear:both}
.location ul li	{display:inline-block; position:relative; padding-left:44px; color:#8c8c8c; font-size:14px; font-weight:bold; line-height:40px}
.location ul li a	{display:block; color:#8c8c8c}
.location ul li:after	{content:""; display:block; position:absolute; top:20px; left:11px; width:23px; height:1px; background:#dcdcdc}
.location ul li:first-child	{padding-left:0;}
.location ul li:first-child:after	{display:none}
.location ul li:last-child	{color:#d20c26;}

.brd	{border:1px solid #d8dfea; background:#fff}
.img	{display:block; font-size:0; line-height:0}


/* 컨텐츠 공통 */
.top_title	{padding:27px 30px; border:1px solid #d8dfea; background:#fff}
.top_title h2	{color:#3158bc; font-size:32px; font-weight:bold}
.top_title h2 span	{display:inline-block; position:relative; margin-left:15px; padding-left:17px; color:#d2dbe2; font-size:24px; font-weight:normal; line-height:34px;}
.top_title h2 span.type_b	{font-size:15px; line-height:18px; vertical-align:middle;}
.top_title h2 span:after	{content:""; display:block; position:absolute; top:9px; left:0; width:1px; height:19px; background:#d8dfea}
.top_title p.h_info	{margin-bottom:5px; color:#414141; font-size:16px; font-weight:bold; line-height:20px;}
.top_title p.desc		{margin-top:5px; color:#717171; font-size:14px; line-height:20px;}


/* 공통 팝업 */
.layer_popup	{display:none; position:fixed; z-index:1000; top:50%; left:50%; padding:48px 22px; width:100%; max-width:800px; background:#fff; border-radius:10px; -webkit-transform:translate3d(-50%, -50%, 0); -moz-transform:translate3d(-50%, -50%, 0); -o-transform:translate3d(-50%, -50%, 0); -ms-transform:translate3d(-50%, -50%, 0); transform:translate3d(-50%, -50%, 0); box-sizing:border-box; -moz-box-sizing:border-box}
.layer_popup h1.title	{padding-top:58px; color:#000; font-size:34px; line-height:50px; text-align:center}
.layer_popup h1.title.line	{margin:0 -50px; padding:0 50px; border-bottom:1px solid #e1e1e1; font-size:20px; font-family:'Nanum Gothic','AppleGothic','Dotum', sans-serif; font-weight:400; line-height:44px; text-align:left}
.layer_popup h1.h_bar	{}
.layer_popup .btn_closed	{display:block; position:absolute; top:0; right:0; width:60px; height:60px; background:url('/images/common/btn_pop_closed.png') no-repeat center center}
.layer_popup .layer_cont	{margin-top:25px; padding:0 10px}
.layer_popup .layer_cont .btn_wrap	{margin-top:25px}
.layer_popup .layer_cont .btn_wrap.side	{text-align:center}
.layer_popup .layer_cont .btn_wrap.side button:first-child	{float:none}

.layer_dim	{display:none; position:fixed; z-index:110; top:0; right:0; bottom:0; left:0; max-width:100% !important; background:rgba(0, 0, 0 ,0.8)}



/* 타이틀 레벨 */
.h1	{}
.h_tit	{}
.h_tit span	{}
.h_desc	{}


/* Tab */
.tab_wrap	{border:1px solid #4b4b4b}
.tab_wrap ul:after	{content:""; display:block; clear:both}
.tab_wrap ul li	{position:relative; float:left; width:50%}
.tab_wrap ul li > a	{display:block; position:relative; border-left:1px solid #2c3c57; background:#fff; color:#2c3c57; font-size:22px; font-weight:700; line-height:70px; text-align:center;}
.tab_wrap ul li:first-child > a	{border-left:0}
.tab_wrap ul li > a:hover	{background:#2c3c57; color:#fff}
.tab_wrap ul li.on	{z-index:10}
.tab_wrap ul li.on > a	{background:white; color:#fff;}
.tab_wrap ul li.on > a:after	{content:""; display:block; position:absolute; left:50%; bottom:-13px; margin-left:-6px; width:13px; height:13px; background:url('/images/content/bg_tab_arr.png') no-repeat 0 0}

.tab_wrap ul li .tab_cont	{display:none; margin-top:60px; width:700%;}
.tab_wrap ul li.on .tab_cont	{display:block}

.content > .tab_wrap	{margin:-60px 0 60px 0 !important; padding:0 !important; width:auto; max-width:100% !important; border-top:0; border-right:0; border-left:0}
.content > .tab_wrap .t03 li	{width:33.33333333% !important}
.content > .tab_wrap .t03_pop li	{width:33.33333333% !important}
.content > .tab_wrap ul li.on a:after	{display:none}
.content > .tab_wrap ul li > a	{font-size:30px; line-height:86px;}

.content .tab_wrap ul.t03 li	{width:400px}
.content .tab_wrap ul.t03 li:nth-child(2)	{width:398px}

.content .tab_wrap ul.t03_pop li	{width:33.3%}
.content .tab_wrap ul.t03_pop li:nth-child(2)	{width:33.3%}

/* button */
button	{display:inline-block; padding:0; border:0; background:transparent; font-family:'Nanum Gothic','맑은 고딕','AppleGothic','돋움','Dotum', sans-serif; text-align:center; vertical-align:middle; cursor:pointer; white-space:nowrap; -webkit-transition:all 0.25s ease-out; -moz-transition:all 0.25s ease-out; -ms-transition:all 0.25s ease-out; -o-transition:all 0.25s ease-out; transition:all 0.25s ease-out;}
button.dis,
button.dis	span	{cursor:default}
button.dis:hover	span	{background-position:0 0}
button.dis:hover	span	span	{background-position:right 0}

.gray	{background:#868686 !important}
.cancel	{background:#868686 !important}
.red	{background:#e3212b !important}

.btn_base	{position:relative; display:inline-block; padding:0 15px; min-width:180px; background:white; color:#fff; font-size:18px; line-height:47px; text-align:center; vertical-align:middle; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-transition:all 0.25s ease-out; -moz-transition:all 0.25s ease-out; -ms-transition:all 0.25s ease-out; -o-transition:all 0.25s ease-out; transition:all 0.25s ease-out;}
.btn_base:hover	{background:#003f96 !important}

.btn_middle	{position:relative; display:inline-block; padding:0 15px; min-width:180px; background:white; color:#fff; font-size:20px; line-height:60px; text-align:center; vertical-align:middle; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-transition:all 0.25s ease-out; -moz-transition:all 0.25s ease-out; -ms-transition:all 0.25s ease-out; -o-transition:all 0.25s ease-out; transition:all 0.25s ease-out;}
.btn_middle:hover	{background:#003f96 !important}

.btn_big	{position:relative; display:inline-block; padding:0 15px; width:333px; background:#003f96; color:#fff; font-size:23px; line-height:80px; text-align:center; vertical-align:middle; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-transition:all 0.25s ease-out; -moz-transition:all 0.25s ease-out; -ms-transition:all 0.25s ease-out; -o-transition:all 0.25s ease-out; transition:all 0.25s ease-out;}
.btn_big:hover	{background:#003f96 !important}

.btn_red	{display:inline-block; position:relative; margin-top:38px; padding:0 32px; height:60px; background:#d20c26; color:#fff; font-size:18px; line-height:60px; text-align:center}
.btn_red.go span	{display:inline-block; padding-right:20px; background:url('/images/common/btn_find_arr.png') no-repeat right center; line-height:60px}


/* Button Align */
.btn_wrap	{margin-top:20px; text-align:center; font-size:0; line-height:0;}
.btn_wrap .btn_base, .btn_wrap .btn_big	{margin-left:10px}
.btn_wrap .btn_base:first-child, .btn_wrap .btn_big:first-child	{margin-left:0 !important}

.btn_wrap .btn_base, .btn_wrap .btn_middle	{margin-left:10px}
.join_wrap .btn_wrap .btn_middle	{margin-left:0}
.btn_wrap .btn_base:first-child, .btn_wrap .btn_middle:first-child	{margin-left:0 !important}

.btn_wrap:after	{content:""; display:block; clear:both}
.btn_wrap.side	{text-align:right}
.btn_wrap.side button	{display:inline-block;}
.btn_wrap.side button:first-child	{float:left}

.btn_wrap.right	{font-size:0; line-height:0; text-align:right}
.btn_wrap.right a	{float:none; margin:0 0 0 5px;}
.btn_wrap.right a:first-child	{margin:0}
.btn_wrap.right button	{float:none; margin:0 0 0 5px;}
.btn_wrap.right button:first-child	{margin:0}

.btn_wrap.left	{text-align:left}

.btn_wrap .fl_left	{}
.btn_wrap .fl_left .btn_base	{margin-left:5px}
.btn_wrap .fl_right	{}
.btn_wrap .fl_right .btn_base	{margin-left:5px}

.abs_rt {position: absolute;right: 0;top:0;margin:0}

/* table */
table	{width:100%; border:0 none; border-collapse:collapse; border-spacing:0}
table	caption	{width:0; height:0; line-height:0px; visibility:hidden}
table	th,	table	td	{border:0 none}

.table_wrap	{margin-top:15px;}
.table_wrap .t_right	{margin-top:-40px; margin-bottom:8px; font-size:15px; font-weight:300; line-height:30px; text-align:right}
.table_wrap .t_right span	{margin-left:30px}
.table_wrap .t_right span em	{color:#589b00; font-style:normal}

.table_wrap table	{border:1px solid #636363; border-top:0; border-left:0}
.table_wrap table th,
.table_wrap table td	{border-top:1px solid #636363; border-left:1px solid #636363; font-size:12px; vertical-align:middle}
.table_wrap table thead tr th	{padding:21px 0; height:22px; background:#f0f1f3; color:#383838; font-size:22px; line-height:22px; text-align:center;}
.table_wrap table thead tr th span	{display:block; position:relative;}

.table_wrap table tbody .phone	{font-size:0; line-height:0}
.table_wrap table tbody .phone input	{width:31.333333%}
.table_wrap table tbody .phone span	{display:inline-block; width:3%; font-size:11px; text-align:center; vertical-align:middle;}


.table_wrap table tbody tr th	{background:#f0f1f3; color:#2c3c57; font-size:18px; font-weight:700; line-height:28px; text-align:center;}
.table_wrap table tbody tr td	{padding:18px 0; height:20px; color:#2a2a2a; font-size:18px; line-height:28px; text-align:center; word-break:keep-all;}
.table_wrap table tbody tr td.al_left	{padding-left:20px; text-align:left}
.table_wrap table tbody tr td .btn_s	{margin:-2px 0}
.table_wrap table tbody tr td .pic	{display:inline-block; width:90px; height:105px; /*background:url('/images/content/bg_pic_info.jpg') no-repeat 0 0;*/ font-size:0; line-height:0; vertical-align:middle}

.table_wrap.list	{}
.table_wrap.list table	{border:0; border-top:2px solid #2c3c57;}
.table_wrap.list table tbody tr:hover td	{background:#f0f1f3}
.table_wrap.list table thead tr th	{padding:16px 0; border:0; border-bottom:1px solid #d5d8dd; background:#fff; height:21px; color:#2c3c57; font-size:18px; font-weight:700; line-height:21px;}
.table_wrap.list table tbody tr th	{}
.table_wrap.list table tbody tr td	{padding:9px 0; height:32px; border:0; border-bottom:1px solid #d5d8dd; color:#383838; font-size:16px; line-height:32px}
.table_wrap.list table tbody tr td.al_left	{padding:9px 10px}
.table_wrap.list table tbody tr td a.tit	{overflow:hidden; display:inline-block; color:#2c3c57; height:32px; line-height:32px; vertical-align:top}
.table_wrap.list table tbody tr td a.tit.secret	{padding-right:25px; background:url('/images/common/icon_secret.png') no-repeat right center}
.table_wrap.list table tbody tr td .state	{display:inline-block; width:56px; background:#2c3c57; font-size:16px; color:#fff; line-height:32px; vertical-align:top; border-radius:5px}
.table_wrap.list table tbody tr td .state.wait	{background:#b73535}
.table_wrap.list table tbody tr td .state.end	{background:#b73535}


.table_wrap.form table	{border-top:2px solid #d5ddea}
.table_wrap.form table tbody tr th	{padding:6px 0; height:22px; border-top:1px solid #eaeef4; background:#8597b1; color:#fff; font-size:14px; font-weight:bold; line-height:28px}
.table_wrap.form table tbody tr td	{padding:6px 6px; height:22px; font-size:14px; line-height:28px; text-align:left}
.table_wrap.form table tbody tr td input	{height:29px; background:#f3f4f7; font-size:12px; line-height:23px; vertical-align:top}
.table_wrap.form table tbody tr td .select	{height:27px; background:#f3f4f7; line-height:27px; vertical-align:top}
.table_wrap.form table tbody tr td .select:after	{content:""; display:block; position:absolute; right:7px; top:50%; margin-top:-4px; width:13px; height:8px; background:url('/images/content/icon_select_arr.png') no-repeat center center; background-size:10px auto;}
.table_wrap.form table tbody tr td .select label {font-size:12px; line-height:27px;}
.table_wrap.form table tbody tr td .select select {height:27px; line-height:27px}
.table_wrap.form table tbody tr td .num_wrap	{font-size:0; line-height:0}
.table_wrap.form table tbody tr td .num_wrap .fmr	{margin:0 4px; font-size:14px; line-height:29px}
.table_wrap.form table tbody tr td .fma	{display:inline-block; margin:0 8px; vertical-align:top}
.table_wrap.form table tbody tr td .rdo	{line-height:29px}
.table_wrap.form table tbody tr td .rdo label	{background-position:4px 8px}
.table_wrap.form table tbody tr td .chk	{line-height:29px}
.table_wrap.form table tbody tr td .chk label	{background-position:4px 8px}
.table_wrap.form table tbody tr td .btn_calendar	{display:inline-block; margin-right:3px; width:30px; height:29px; background:url('/images/common/btn_calendar.jpg') no-repeat 0 0; vertical-align:top}
.table_wrap.form table tbody tr td .chk_wrap.mr0 .chk	{margin-right:0}
.table_wrap.form table tbody tr td .info	{position:relative;}
.table_wrap.form table tbody tr td .info dl:after	{content:""; display:block; clear:both}
.table_wrap.form table tbody tr td .info dl dt	{float:left; color:#717171; font-size:14px;}
.table_wrap.form table tbody tr td .info dl dd	{position:relative; float:left; margin-left:9px; padding-left:10px; color:#717171; font-size:14px;}
.table_wrap.form table tbody tr td .info dl dd:after	{content:""; display:block; position:absolute; top:8px; left:0; width:1px; height:15px; background:#d5ddea;}
.table_wrap.form table tbody tr td .info dl dd a.file	{display:inline-block; color:#009cef; font-size:14px; line-height:28px}
.table_wrap.form table tbody tr td .info .hit	{position:absolute; top:0; right:0; color:#717171; font-size:14px}
.table_wrap.form table tbody tr td .info .hit em	{font-style:normal}
.table_wrap.form table tbody tr td .cont	{padding:5px; min-height:270px; font-size:14px; line-height:22px; word-break:keep-all;}
.table_wrap.form table tbody tr td .textarea	{display:block; font-size:0; line-height:0}
.table_wrap.form table tbody tr td .textarea textarea	{color:#888; font-size:12px; background:#f3f4f7;}
.table_wrap.form table tbody tr td .address_wrap	{position:relative}
.table_wrap.form table tbody tr td .address_wrap input	{margin-top:6px}
.table_wrap.form table tbody tr td .address_wrap input:first-child	{margin-top:0}
.table_wrap.form table tbody tr td .address_wrap .btn_base	{position:absolute; top:0; right:0; padding:0 12px; height:29px; line-height:29px}
.table_wrap.form table tbody tr td div.file	{font-size:0; line-height:0}
.table_wrap.form table tbody tr td div.file button	{margin-left:5px; min-width:50px; height:29px; line-height:29px; vertical-align:top;}
.table_wrap.form table tbody tr td div.file .info	{display:inline-block; margin-left:10px; color:#009cef; font-size:14px; line-height:29px}
.table_wrap.form table .relative	{position:relative;}
.table_wrap.form table .relative .btn_m	{display:block; position:absolute; top:-6px; left:0; width:18px; height:18px; background:url('/images/content/btn_m.gif') no-repeat 0 0;}

.layer_popup .table_wrap table th, .layer_popup .table_wrap table td	{border-top:1px solid #c2c2c2; border-left:1px solid #c2c2c2;}
.layer_popup .table_wrap table	{border:1px solid #c2c2c2; border-top:0; border-left:0;}
.layer_popup .table_wrap table thead tr th	{padding:15px 0; color:#2c3c57; font-size:18px; font-weight:700}
.layer_popup .table_wrap table tbody tr td	{padding:10px 0; height:45px;}
.layer_popup .table_wrap table tbody tr td.al_left	{padding:10px}
.layer_popup .table_wrap table tbody tr td div {overflow-y:auto; max-height:150px}
.layer_popup .table_wrap table tbody tr td.top		{vertical-align:top}
.layer_popup .layer_cont .table_wrap .t01 {width:20%}
.layer_popup .layer_cont .table_wrap .t02 {width:30%}

.layer_popup .table_wrap.small table thead tr th	{padding:11px 0;}
.layer_popup .table_wrap.small table tbody tr td	{padding:0px 0;}

/* 블릿 */
.bullet_list	{margin-top:15px}
.bullet_list li	{position:relative; padding-left:6px; color:#999 !important; font-size:11px; line-height:20px !important; }
.bullet_list li .bullet	{position:absolute; display:block; top:0; left:0; color:#999 !important; text-indent:-4px}
.bullet_list li ul	{padding:20px 0}
.bullet_list li ul li	{padding-left:0}


/* 페이징 */
.pager_wrap	{position:relative; margin-top:42px; font-size:0; line-height:0; text-align:center; letter-spacing:-10px}
.pager_wrap .search	{position:relative; margin-bottom:42px; font-size:0; line-height:0}
.pager_wrap .search .select	{width:90px; height:43px; border:1px solid #d0d0d0; border-right:0; vertical-align:top}
.pager_wrap .search .select label		{height:41px; line-height:41px; letter-spacing:0}
.pager_wrap .search .select select	{height:41px; line-height:41px}
.pager_wrap .search input		{width:235px; height:43px; border:1px solid #d0d0d0; border-left:0; border-right:0}
.pager_wrap .search button	{width:69px; height:43px; vertical-align:top; background:#2c3c57 url('/images/common/icon_search.png') no-repeat center center}

.pager_wrap a	{display:inline-block; margin-left:8px; width:79px; height:41px; border:1px solid #cecece; background:#fff; color:#afafaf; font-size:16px; line-height:41px; vertical-align:top; letter-spacing:0}
.pager_wrap a:hover	{border:1px solid #2c3c57; color:#2c3c57; text-decoration:none}

.pager_wrap a.btn_page	{}
.pager_wrap a.btn_page.prev	{margin:0; background:#fff url('/images/common/icn_page_prev.png') no-repeat center center;}
.pager_wrap a.btn_page.next	{margin:0; background:#fff url('/images/common/icn_page_next.png') no-repeat center center;}

.pager_wrap .page	{display:inline-block; margin:0 22px; text-align:center; vertical-align:top}
.pager_wrap .page a	{position:relative; width:41px; height:41px;}
.pager_wrap .page a:first-child	{margin:0}
.pager_wrap .page a.on	{border:1px solid #2c3c57; background:#2c3c57; color:#fff; text-decoration:none}



/* Size */ 
.w100			{display:block; line-height:0}
.w100 img	{width:100%}


/* Popup */


@media screen and (max-width:1860px)	{
	/* Header */
	#wrapper #header .header h1	{top:65px; left:7px; margin:0; width:85px; height:85px}
	#wrapper #header .header h1 a	{width:85px; height:85px; background:url('/images/common/logo_t.png') no-repeat 0 0;}

	#wrapper #header nav .nav_wrap	{left:125px; margin:0 !important; width:900px}
	/*hcup*/
	/*#wrapper #header nav .nav_wrap ul li	{padding:0 22px}*/
	/*CHAMPIONSHIP*/
	#wrapper #header nav .nav_wrap ul li	{padding:0 20px}
	
	#wrapper #header nav .nav_wrap ul li a	{font-size:17px}
	#wrapper #header nav .nav_wrap ul li a.f_hvn	{font-size:19px}
	#wrapper #header nav .nav_wrap ul li:first-child a	{width:118px}

	#wrapper #header nav .util	{right:20px; margin:0}
}

@media screen and (max-width:1360px)	{
	#wrapper #container .content > div	{padding:0 20px}

	/* Header */
	#wrapper #header nav .util li.face	{display:none}
	#wrapper #header nav .util li.insta	{display:none}

	.content .sub_top h2	{margin-left:0; left:20px}
}



@media screen and (max-width:1216px)	{
	/* Header */
	#wrapper #header .header	{height:85px; background:rgba(0, 0, 0, 0.45); -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -ms-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
	#wrapper #header .header h1	{top:23px !important; left:19px; width:201px !important; height:38px !important}
	#wrapper #header .header h1 a	{width:201px !important; height:38px !important; background:url('/images/common/logo_m.png') no-repeat 0 0 !important; background-size:100% auto !important}
	#wrapper #header .header .btn_nav	{display:block; position:absolute; top:0; right:0; width:66px; height:85px; background:url('/images/common/btn_nav.png') no-repeat center center; background-size:41px auto}

	#wrapper #header nav	{overflow-y:auto; position:fixed; top:85px !important; right:0; bottom:0; left:auto; padding-left:56px; width:490px; height:auto; background:rgba(0, 0, 0, 0.85); box-sizing:border-box; -moz-box-sizing:border-box; -webkit-transform:translate3d(100%, 0, 0); -moz-transform:translate3d(100%, 0, 0); -o-transform:translate3d(100%, 0, 0); -ms-transform:translate3d(100%, 0, 0); transform:translate3d(100%, 0, 0);}
	#wrapper #header nav .nav_wrap	{position:relative; left:auto; padding-top:133px; width:auto;}
	#wrapper #header nav .nav_wrap ul	{border-top:4px solid #dbdbdb; border-bottom:4px solid #dbdbdb}
	#wrapper #header nav .nav_wrap ul li	{display:block; position:relative; padding:0 0 0 10px !important;}
	#wrapper #header nav .nav_wrap ul li a	{height:90px; font-size:34px; line-height:90px}
	#wrapper #header nav .nav_wrap ul li a.f_hvn	{font-size:34px;}
	#wrapper #header nav .nav_wrap ul li a:after	{display:none}
	#wrapper #header nav .nav_wrap ul li a:hover	{color:#5c9de6;}

	#wrapper #header nav .nav_wrap ul li:first-child	{position:absolute; right:0; left:0; bottom:-94px}
	#wrapper #header nav .nav_wrap ul li a.aia	{width:146px}
	#wrapper #header nav .nav_wrap ul li a.face	{display:block; position:absolute; top:10px; right:90px; width:70px; height:70px; background:url('/images/common/icon_facebook.png') no-repeat center center; background-size:46px 46px}
	#wrapper #header nav .nav_wrap ul li a.insta	{display:block; position:absolute; top:10px; right:20px; width:70px; height:70px; background:url('/images/common/icon_instagram.png') no-repeat center center; background-size:46px 46px}

	#wrapper #header nav .util	{position:absolute; top:0; right:0; left:56px; width:auto}
	#wrapper #header nav .util li.login	{display:block; margin:0; padding:0; border:0;}
	#wrapper #header nav .util li.login a	{display:block; margin-right:14px; padding-right:86px; font-size:30px; font-family:'HN_hvc'; height:133px; background:url('/images/common/icon_login_m.png') no-repeat center right; background-size:50px auto; line-height:133px; text-align:right}

	#wrapper #header nav .util li.logout	{display:block; margin:0; padding:0; border:0;}
	#wrapper #header nav .util li.logout a	{margin-right:14px; font-size:30px; font-family:'HN_hvc'; height:133px; background-size:50px auto; line-height:133px; text-align:right}
	#wrapper #header nav .util li.logout a.mypage	{padding-right:70px; background-size:auto 44px;}
	#wrapper #header nav .util li.logout a.logout	{padding-right:86px; margin-left:20px; background-size:auto 44px;}

	#wrapper #header .header.open	{background:#2c3c57}
	#wrapper #header .header.open nav	{-webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0); -o-transform:translate3d(0, 0, 0); -ms-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0);}

	/* Footer */
	#wrapper #footer	{padding:30px 0 15px 0}
	#wrapper #footer .footer_wrap	{width:auto; font-size:0; line-height:0; text-align:center}
	#wrapper #footer .footer_wrap .logo	{display:none}
	#wrapper #footer .footer_wrap .foot_util	{padding:0;}
	#wrapper #footer .footer_wrap .foot_util ul	{display:inline-block}
	#wrapper #footer .footer_wrap .foot_util ul li:last-child	{padding-right:0}
	#wrapper #footer .footer_wrap .info		{display:none}
	#wrapper #footer .footer_wrap .copy		{margin-top:15px; padding:0}

	/* Tab */
	.content .tab_wrap ul.t03 li	{width:33.33333333% !important}


}


@media screen and (max-width:960px){
	body.hidden	{padding-right:0}
	#wrapper #container .content > div	{padding:0 10px}

	.pblock	{display:none}
	.mblock	{display:block !important}

	/* form */
	.select	{height:38px}
	.select:after	{right:7px; background-size:8px auto;}
	.select label	{height:36px; font-size:14px; line-height:36px}
	.select select	{height:36px; font-size:14px; line-height:36px}
	input[type='text'], input[type='password']	{height:25px; font-size:14px; line-height:23px}
	textarea	{font-size:14px;}

	.chk	{font-size:12px}
	.chk label	{padding-left:25px; background-size:18px auto}
	.chk input[type=checkbox]:checked + label	{background-size:18px auto}

	/* button */
	.btn_base	{padding:0 7px; min-width:120px; height:32px; font-size:12px; line-height:32px}
	.btn_middle	{padding:0 7px; min-width:90px; height:31px; font-size:13px; line-height:31px}
	.btn_big		{padding:0 7px; width:150px; font-size:16px; line-height:40px;}
	.abs_rt {margin-top: 20px;}

	/* Header */
	#wrapper #header .header	{height:55px;}
	#wrapper #header .header h1	{top:16px !important; left:10px; width:135px !important; height:26px !important}
	#wrapper #header .header h1 a	{width:135px !important; height:26px !important;}
	#wrapper #header .header .btn_nav	{width:50px; height:55px; background-size:28px auto}

	#wrapper #header nav	{top:55px !important; padding-left:28px; width:245px;}
	#wrapper #header nav .nav_wrap	{padding-top:66px;}
	#wrapper #header nav .nav_wrap ul	{padding:8px 0; border-top:2px solid #dbdbdb; border-bottom:2px solid #dbdbdb}
	#wrapper #header nav .nav_wrap ul li	{padding:0 0 0 5px !important;}
	#wrapper #header nav .nav_wrap ul li a	{height:45px; font-size:17px; line-height:45px}
	#wrapper #header nav .nav_wrap ul li a.f_hvn	{font-size:17px;}

	#wrapper #header nav .nav_wrap ul li:first-child	{bottom:-47px}
	#wrapper #header nav .nav_wrap ul li a.aia	{width:73px}
	#wrapper #header nav .nav_wrap ul li a.face	{top:5px; right:35px; width:35px; height:35px; background-size:23px 23px}
	#wrapper #header nav .nav_wrap ul li a.insta	{top:5px; right:0; width:35px; height:35px; background-size:23px 23px}

	#wrapper #header nav .util	{left:28px;}
	#wrapper #header nav .util li.login a	{margin-right:7px; padding-right:43px; font-size:15px; height:66px; background-size:25px auto; line-height:66px;}

	#wrapper #header nav .util li.logout a	{margin-right:7px; font-size:15px; height:66px; background-size:50px auto; line-height:66px; }
	#wrapper #header nav .util li.logout a.mypage	{padding-right:35px; background-size:auto 22px;}
	#wrapper #header nav .util li.logout a.logout	{padding-right:43px; margin-left:10px; background-size:auto 22px;}


	/* Footer */
	#wrapper #footer	{margin-top:60px; padding:15px 0 10px 0}
	#wrapper #footer .footer_wrap .foot_util ul li	{padding:0 15px}
	#wrapper #footer .footer_wrap .foot_util ul li a	{font-size:12px;}
	#wrapper #footer .footer_wrap .copy		{margin-top:7px; padding:0; line-height:16px}

	/* Sub top */
	.content .sub_top	{margin-bottom:30px !important; height:230px}
	.content .sub_top video	{width:960px; height:231px}
	.content .sub_top h2	{bottom:10px; left:10px; font-size:40px; line-height:45px}


	/* Tab */
	.content > .tab_wrap	{margin:-30px 0 30px 0 !important}
	.content > .tab_wrap ul li > a	{font-size:15px; line-height:44px}
	.tab_wrap ul li > a	{font-size:14px; line-height:43px}
	.tab_wrap ul li.on > a:after	{display:none}

	/* Table */
	.table_wrap	{margin-top:7px}
	.table_wrap .tb	{display:none}
	.table_wrap table thead tr th	{padding:11px 0; font-size:15px}
	.table_wrap table tbody tr th	{padding:6px 0; height:32px; font-size:12px; line-height:16px}
	.table_wrap table tbody tr td	{padding:6px 0; height:32px; font-size:12px; line-height:16px}

	.table_wrap.list table thead tr th	{padding:7px 0; height:21px; font-size:12px; line-height:21px;}
	.table_wrap.list table tbody tr td	{padding:6px 0; height:22px; font-size:12px; line-height:22px}
	.table_wrap.list table tbody tr td.al_left	{padding:6px 5px}
	.table_wrap.list table tbody tr td a.tit	{height:22px; line-height:22px}
	.table_wrap.list table tbody tr td a.tit.secret	{padding-right:15px; background-size:9px auto}
	.table_wrap.list table tbody tr td .state	{width:37px; font-size:11px; line-height:22px; border-radius:3px}


	/* 페이징 */
	.pager_wrap	{margin-top:35px;}
	.pager_wrap .search	{margin-bottom:20px;}
	.pager_wrap .search .select	{width:44px; height:24px;}
	.pager_wrap .search .select label		{left:5px; right:10px; font-size:12px; height:22px; line-height:22px; letter-spacing:0}
	.pager_wrap .search .select select	{height:22px; line-height:22px}
	.pager_wrap .search .select:after		{right:0}
	.pager_wrap .search input		{width:119px; height:24px; font-size:12px}
	.pager_wrap .search button	{width:35px; height:24px; background-size:12px auto}

	.pager_wrap a	{margin-left:4px; width:40px; height:20px; font-size:12px; line-height:20px;}

	.pager_wrap a.btn_page.prev	{background-size:5px auto}
	.pager_wrap a.btn_page.next	{background-size:5px auto}

	.pager_wrap .page	{display:inline-block; margin:0 10px; text-align:center; vertical-align:top}
	.pager_wrap .page a	{position:relative; width:20px; height:20px;}
	.pager_wrap .page a:first-child	{margin:0}
	.pager_wrap .page a.on	{border:1px solid #2c3c57; background:#2c3c57; color:#fff; text-decoration:none}



	/* 공통 팝업 */
	.layer_popup	{margin:0 auto; padding:23px 10px; right:10px; left:10px; width:auto; -webkit-transform:translate3d(0, -50%, 0); -moz-transform:translate3d(0, -50%, 0); -o-transform:translate3d(0, -50%, 0); -ms-transform:translate3d(0, -50%, 0); transform:translate3d(0, -50%, 0);}
	.layer_popup .btn_closed	{width:30px; height:30px; background-size:40px 40px !important}

	.layer_popup .layer_cont	{margin-top:15px; padding:0;}
	.layer_popup .layer_cont .btn_wrap	{margin-top:7px}
	.layer_popup .layer_cont .btn_wrap.side	{text-align:right}
	.layer_popup .layer_cont .btn_wrap.side button	{margin:0; width:49%;}
	.layer_popup .layer_cont .btn_wrap.side button:first-child	{float:left}
	
	.layer_popup .table_wrap table thead tr th	{padding:7px 0; font-size:14px}
	.layer_popup .table_wrap table tbody tr th	{height:19px}
	.layer_popup .table_wrap table tbody tr td	{padding:7px 7px; height:25px}
	.layer_popup .table_wrap table tbody tr td.al_left	{padding:7px 7px}

	.layer_popup .table_wrap.small table thead tr th	{padding:5px 0; font-size:12px}
	.layer_popup .table_wrap table tbody tr td div {overflow-y:auto; max-height:100px}
	.layer_popup .layer_cont .table_wrap .t01 {width:25%}
}

@media screen and (max-width:360px){
	.layer_popup .layer_cont	{overflow-y:auto; max-height:450px;}
}


/* 기타 */
#mask {background:rgba(0, 0, 0, 0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000);position:fixed;width:100%;top:0;right:0;left:0;bottom:0;z-index:600;}
