<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>008_mybatis_mvc2_xml</display-name>


  <servlet-mapping>
  	<servlet-name>commandServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>commandServlet</servlet-name>
  	<servlet-class>controller.ControllerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>commandServlet2</servlet-name>
  	<url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>commandServlet2</servlet-name>
  	<servlet-class>controller.GalBoardFrontController</servlet-class>
  </servlet>


</web-app>
