.slideDown {
    width: 120px;
    height: 40px;
    color: #cc0000;
    padding: 0 14px;
    text-align: center;
    line-height: 60px;
    position: relative;
    transition: 0.2s ease-in-out;
    overflow: hidden;
	}

    .slideDown::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    background-color: #cc0000;
    transition: transform 0.2s ease-out;
    z-index:-1;
    }

    .slideDown:hover {
    color: #fff;
    transition: 0.2s ease-out;
    }

    .slideDown:hover::after {
    transform: translateY(0);
    transition: transform 0.2s ease-in;
	}