#footer{
width:100%;
float:left;
}

#footerdesign{
background:#444444;
width:100%;
height:250px;
float:left;
}

#footertext{
font-size:14px;
margin-left:770px;
margin-top:20px;
color:#969696;
}

#footerlink{
margin-left:770px;
margin-top:-110px;
color:white;
font-size:15px;
word-spacing:30px;
}